body
  margin-top: 5px
  .border
    border: #1b1e21 1px solid
    border-radius: 5px
    box-shadow: 0 0 8px rgba(0,0,0,0.5)
    padding: 5px
    margin: 10px
  #projects-list
    padding: 0
    .project-block
      border: #1b1e21 1px solid
      [tag="name"]
        font-size: 120%
        font-weight: bold
        word-wrap: break-word
      [tag="budget"]
        margin-left: 50px
        span
          padding: 5px
          border-radius: 5px
          font-size: 80%
          font-weight: bold
          background-color: #71dd8a
      [tag="employer"]
        font-size: 80%
        margin-left: 50px

  #additional
    padding: 0
    .title
      font-size: 120%
      font-weight: bold

    [tag="lang-box"]
    [tag="pie-chart"]
    [tag="skills-box"]

.template
  display: none


