body {
  margin-top: 5px;
}
body .border {
  border: #1b1e21 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 10px;
}
body #projects-list {
  padding: 0;
}
body #projects-list .project-block {
  border: #1b1e21 1px solid;
}
body #projects-list .project-block [tag=name] {
  font-size: 120%;
  font-weight: bold;
  word-wrap: break-word;
}
body #projects-list .project-block [tag=budget] {
  margin-left: 50px;
}
body #projects-list .project-block [tag=budget] span {
  padding: 5px;
  border-radius: 5px;
  font-size: 80%;
  font-weight: bold;
  background-color: #71dd8a;
}
body #projects-list .project-block [tag=employer] {
  font-size: 80%;
  margin-left: 50px;
}
body #additional {
  padding: 0;
}
body #additional .title {
  font-size: 120%;
  font-weight: bold;
}
.template {
  display: none;
}

/*# sourceMappingURL=main.css.map */
